{% from "result_macro.html" import resultImage with context %}
{% block head %}
<!-- Required meta tags -->
<meta charset="utf-8">
<meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
<title>RGBバトル</title>
<!-- Bootstrap -->
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" rel="stylesheet">
<link href="//maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/fontawesome-all.min.css" rel="stylesheet">

<link rel="stylesheet" type="text/css" href="{{ url_for('static',filename='css/style.css') }}">
{% endblock head %}

{% block content %}
<nav class="navbar navbar-expand navbar-dark bg-dark static-top">
    <a class="navbar-brand mr-1" href="/">RGB Battle</a>
</nav>


<div class="container mt-3">
<input type="button" class="btn btn-primary py-2 px-5" value="全レコード削除&ランダムデータ30件作成" id="btn">

</div>
<script>
        var btn = document.getElementById('btn');

        btn.addEventListener('click', function() {
            var result = window.confirm('すべてのデータをリセットしてよろしいですか？');
            if( result ) {
                location.href=('{{url}}');
            }
            else {
            }
        })
        </script>

{# jquery,bootstrap #}
<script src="https://code.jquery.com/jquery-3.2.1.min.js"></script>
<script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js"></script>
{# /jquery,bootstrap #}

{% endblock content %}
